/*001*/
body {
    font-family: 'Montserrat', sans-serif;                /*задаю стиль шритфа на странице*/
}

/*010*/
.header {
    width: 1400px;                                        /*задаю ширину блока на котором расположен блок навигации*/
    display: flex;                                        /*делаю два блока в строку (навигация и слоган)*/
    background-color: #F0F8FF;                          /*задаю цвет фона блока*/
    margin: 0 auto;                                       /*выравниваю блок по центру*/
    border: 1px solid #DCDCDC;                          /*задаю границу для блока*/
    border-radius: 10px;
}

/*----------------------------------------------------------------------------------------------------------*/
/*Выпадающий список*/
/*010*/
.nav {
    width: 1000px;                                         /*задаю ширину блока навигации*/
    font-size: 0;                                          /*установил размер текста 0 что бы убрать отступы между кнопками*/
}

/*010*/
.nav__item {
    display: inline-block;                                 /*задаю кнопкам строчно блочный вид*/
    position: relative;                                    /*позиционирую блок относительно его места на странице */
    font-size: 1rem;                                       /*задаю размер текста*/
    width: 150px;                                          /*задаю ширину кнопок*/
    margin: 15px;                                          /*делаю внешние отступы для кнопок*/
    text-transform: uppercase;                             /*делаю название кнопок с большой буквы*/
    text-align: center;                                    /*выравниваю название кнопок по центру*/
    border: 1px solid #DCDCDC;                           /*задаю границу*/
    border-radius: 5px;                                    /*задаю радиус границ*/
    background-color: #fff;                              /*задаю цвет кнопок*/
}

/*010*/
.dropdown__item {
    display: block;                                         /*задаю выпадающему списку блочный вид*/
    background-color: #fff;                               /*задаю цвет кнопок*/
    border: 1px solid #DCDCDC;                            /*задаю границу*/
    border-radius: 5px;                                     /*задаю радиус границ*/
}


/*010*/
.nav__link,
.dropdown__link {
    display: block;                                          /*задаю ссылкам блочный вид*/
    padding: 10px 12px;                                      /*задаю внутренние отступы для текста ссылок*/
    text-decoration: none;                                   /*убираю подчеркивание ссылок*/
    font-weight: 500;                                        /*задаю стиль текста */
    color: rgb(145, 136, 136);                             /*задаю цвет текста*/
}

/*020*/
.nav__link:hover,
.dropdown__link:hover {                                        
    background-color: #454547;                              /*задаю цвет кнопок после наведения на них*/
    color: #fff;                                            /*задаю цвет текста*/
    box-shadow: 0px 0px 7px black;                          /*задаю тень после неведения на кнопку*/
    transition: all 0.5s;                                     /*задаю время смены цвета*/
    border-radius: 5px;                                       /*задаю границу*/
}

/*010*/
.dropdown {
    display: none;                                            /*далае не видимыми в покое выпадающий список*/
    position: absolute;                                       /*позиционируем блок абсолютно родительскому блоку*/
}

/*030*/
.nav__item:hover .dropdown {
    display: block;                                           /*делаю появление выпадающего списка при наведении на блок навигации*/
    width: 150px;                                             /*задаю щирину ссылкам*/
}

/*----------------------------------------------------------------------------------------------------*/
/*Заголовок*/
/*010*/
.heading {
    margin: 20px 80px;                                        /*задаю внешние отступы для блока с слоганом */
    width: 300px;                                             /*задаю ширину блоку*/
    font-size: 1.25rem;                                       /*задаю размер текста*/
    font-weight: 500;                                        /*задаю ширину текста*/
}

/*010*/
.slogan {
    float: left;                                              /*делаю обтекание для текста слевой стороны*/
}

/*010*/
.picture {
    width: 20px;                                              /*задаю размер картинки*/
    margin-left: 10px;                                        /*задаю левый отступ для картинки*/
}

